<header id="dashboard-header">

  <h1>Dashboard</h1>

  <ul>
    <% if user_signed_in? %>
    <li>
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      User : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Modifier le compte", edit_user_registration_path %>
    </li>
    <% end %>

    <% if current_user.role == 'admin' %>
  </br>
  <li>
    <%= link_to "Publications", publications_path %>
  </li>

  <li>
    <%= link_to "Projets", projects_path, class: "nav-link active" %></li>
  </li>
  <% end %>
  </ul>

</header>

<div class="container" style="padding-top:1px;padding-bottom:1px">
  <% if flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
  <% end %>

  <% if flash[:danger] %>
  <div class="alert alert-danger">
    <%= flash[:danger] %>
  </div>
  <% end %>
</div>

<div class="main">
  <div class="section">
    <div class="container">              
      <div class="col-md-12">
        <div class="row">
          <center><h3><i class="fas fa-list-alt"></i> Projets</h3></center>
          <div class="container">
            <div class="col-md-12">
              <div class="row">                         
                <%= button_to  "Ajouter un projet", new_project_path, method: :get, class: "btn btn-success btn-round btn-lg" %>
              </div>
            </div>         
            <div class="table-responsive" style="margin-top:25px">
              <table class="table">
                <thead class="">
                  <tr>
                    <th class="text-left">
                      Image
                    </th>
                    <th class="text-center" style="padding-right:75px">
                      Titre
                    </th>
                    <th class="text-center" style="padding-right:75px">
                      Texte
                    </th>
                    <th class="text-center">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% @projects.each do |project|%>
                    <td class="text-center">
                      <%= image_tag(project.cover, class: "publication_thumbnail_dashboard") %></h2>
                    </td>
                    <td style="padding-right:75px">
                      <%= project.title %></h2>
                    </td>
                    <td style="padding-right:75px">
                      <%= project.body %></h2>
                    </td>
                    <td class="text-center">
                      <%= button_to "Voir", project_path(project), method: :get, class: "btn btn-dark btn-round", style:"margin-bottom:5px" %>
                      <%= button_to "Modifier", edit_project_path(project), method: :get, class: "btn btn-info btn-round", style:"margin-bottom:5px" %>
                      <%= button_to "Supprimer", [project], method: :delete, class: "btn btn-danger btn-round", style:"margin-top:5px", data: { confirm: 'Are you sure?' } %>              
                    </td>
                  </tr>   
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <center><h3><i class="fas fa-list-alt"></i>  Publications</h3></center>
          <div class="container">
            <div class="col-md-12">
              <div class="row">                         
                <%= button_to  "Ajouter une publication", new_publication_path, method: :get, class: "btn btn-success btn-round btn-lg" %>
              </div>
            </div>         
            <div class="table-responsive" style="margin-top:25px">
              <table class="table">
                <thead class="">
                  <tr>
                    <th class="text-left">
                      Image
                    </th>
                    <th class="text-center" style="padding-right:90px">
                      Titre
                    </th>
                    <th class="text-center">
                      Actions
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% @publications.each do |publication|%>
                    <td class="text-center">
                      <%= image_tag(publication.image, class: "publication_thumbnail_dashboard") %></h2>
                    </td>
                    <td style="padding-right:90px">
                      <%= publication.title %></h2>
                    </td>
                    <td class="text-center">
                      <%= button_to "Modifier", edit_publication_path(publication), method: :get, class: "btn btn-info btn-round", style:"margin-bottom:5px" %>
                      <%= button_to "Supprimer", [publication], method: :delete, class: "btn btn-danger btn-round", style:"margin-top:5px", data: { confirm: 'Are you sure?' } %>              
                    </td>
                  </tr>   
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

