<h1>Dashboard</h1>

<div class="container" style="padding-top:1px;padding-bottom:1px">
  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>

  <% if flash[:danger] %>
    <div class="alert alert-danger">
      <%= flash[:danger] %>
    </div>
  <% end %>
</div>

<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      User : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Modifier le compte", edit_user_registration_path %>
    </li>
  <% end %>

  <% if current_user.role == 'admin' %>
    </br>
    <li>
      <%= link_to "Publications", publications_path %>
    </li>

    <li>
      <%= link_to "Projets", projects_path, class: "nav-link active" %></li>
    </li>
  <% end %>
</ul>