<p id="notice"><%= notice %></p>

<h1>Projects</h1>

  <div class="container" id="desktop-container">
    <div class="row"> 
      <% @projects.each do |project| %>
        <div class="column" id="project-column">
          <%= link_to project do %>
            <% image_tag(project.cover, :class => "nav-title")  %>  
          <% end %>
          <% if user_signed_in? %>
          <% if isAdmin? %>
            <%= link_to 'Modifier', edit_project_path(project) %>
            <%= link_to 'Supprimer', [project], method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<br>

<% if user_signed_in? %>
  <% if isAdmin? %>
    <li><%= link_to 'New Project', new_project_path %></li>
    <li><%= link_to "Dashboard", dashboard_path %></li>
  <% end %>
<% end %>
