<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<% (0...@project.images.count).each do |image| %>
  <div style="width:400px; height:400px">
    <%= image_tag(@project.images[image], style:"width:auto; height:100%") %>
  </div>
<% end %>

<p>
  <strong>Body:</strong>
  <%= @project.body %>
</p>

<% if user_signed_in? %>
  <% if isAdmin? %>
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Back', projects_path %>
  <% end %>
<% end %>