<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<div class="row" id="desktop-gallery">
  <div class="imgSlider gallery" id="img-column">
    <% @publications.each do |publication| %>
      <%= link_to publication.image do %>
        <% image_tag(publication.image) %>  
      <% end %>
      <% if user_signed_in? %>
      <% if isAdmin? %>
        <%= link_to 'Show', publication_path(publication) %>
        <%= link_to 'Edit', edit_publication_path(publication) %>
        <%= link_to 'Destroy', [publication], method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<br>

<% if user_signed_in? %>
  <% if isAdmin? %>
    <li><%= link_to 'New Publication', new_publication_path %></li>
    <li><%= link_to "Dashboard", dashboard_path %></li>
  <% end %>
<% end %>

<script>
  window.onload = function() {
    baguetteBox.run('.imgSlider', {
      animation: 'fadeIn',
      noScrollbars: true
    });
  };
</script>